appdirs==1.4.3
appnope==0.1.0
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
black==18.9b0
bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
decorator==4.4.0
defusedxml==0.5.0
docutils==0.14
entrypoints==0.3
idna==2.8
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10
jsonschema==3.0.1
jupyter-core==4.4.0
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==7.0.0
nbconvert==5.4.1
nbformat==4.4.0
numpy==1.16.2
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
pkginfo==1.5.0.1
pluggy==0.9.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
Pygments==2.3.1
pyparsing==2.2.0
pyrsistent==0.14.11
PySnooper==0.0.15
pytest==4.4.0
python-dateutil==2.8.0
pytz==2018.9
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.9.1
-e git+https://github.com/markjbaker/scred.git@edcb4fe98f01b68078fefc022d35e8bda9bbb8ed#egg=scred
six==1.12.0
testpath==0.4.2
toml==0.10.0
tqdm==4.31.1
traitlets==4.3.2
twine==1.13.0
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
